{% load static %}

{% include 'header.html' %}



<section class="contact section-padding">
    <div   class="container">
        <div class="row">
            <center>
            <div align="center" class="col-lg-6 col-12">
                <h2 class="mb-4">Assign<span>Faculty</span></h2>

                <form class="contact-form me-lg-5 pe-lg-3" action="addassign_course" method="post" role="form">
                    {% csrf_token %}

                   
                  
                    <div class="form-floating">
                        <input type="text" readonly name="std_name" id="name" value="{{result.name}}" class="form-control" placeholder="Full name" required>
                        <input type="hidden" name="sid" value="{{result.id}}" id="">
                        <label for="name">Full name</label>
                    </div>
                    <div class="form-floating my-4">
                        <select id="subject" class="form-control" name="course_id" required>
                            <option >Select Course</option>
                            {% for i in res %}
                            <option value="{{i.id}}">{{i.name}}</option>
                            {% endfor %}
                          </select>
                        <label for="subject">Assign Course</label>
                    </div>
                   
                  

                   

                    <div class="col-lg-5 col-6">
                        <button type="submit" class="form-control">Submit</button>
                    </div>
                </form>
            </div>
        </center>
            

        </div>
    </div>
</section>
</main>

{% include 'footer.html' %}
