{% load static %}

{% include 'header.html' %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.2.min.js"></script>



<section class="contact section-padding">
    <div   class="container">
        <div class="row">
            <center>
            <div align="center" class="col-lg-6 col-12">
                <h2 class="mb-4">Class <span>Schedule</span></h2>

                <form class="contact-form me-lg-5 pe-lg-3" action="addschedule" method="post" role="form">
                    {% csrf_token %}

                   
                  
                    <div class="form-floating">
                        <input type="text" name="typee" id="name" class="form-control" placeholder="Type of class" required>

                        <label for="name">Type of Class</label>
                    </div><br>
                   
                    <div class="form-floating">
                        <input type="datetime-local" name="date" id="date_picker" class="form-control" placeholder="Full name" required>

                        <label for="name">Date & Time</label>
                        <script>
                            $(document).ready(function() {
                                // Function to get the current date and time in the input format (YYYY-MM-DDTHH:mm)
                                function getCurrentDateTime() {
                                    var today = new Date();
                                    var yyyy = today.getFullYear();
                                    var mm = String(today.getMonth() + 1).padStart(2, '0');
                                    var dd = String(today.getDate()).padStart(2, '0');
                                    var hh = String(today.getHours()).padStart(2, '0');
                                    var min = String(today.getMinutes()).padStart(2, '0');
                                    return yyyy + '-' + mm + '-' + dd + 'T' + hh + ':' + min;
                                }
                        
                                // Set the minimum value of the input to the current date and time
                                $('#date_picker').attr('min', getCurrentDateTime());
                        
                                // Function to update the minimum attribute based on the current time
                                function updateMinimumTime() {
                                    $('#date_picker').attr('min', getCurrentDateTime());
                                }
                        
                                // Listen for changes in the input field and update the minimum attribute dynamically
                                $('#date_picker').on('change', function() {
                                    updateMinimumTime();
                                });
                            });
                        </script>
                    </div>
<br>
                    <div class="form-floating">
                        <input type="text" name="link" id="name" class="form-control" placeholder="Class Meet Link" required>

                        <label for="name">Link</label>
                    </div><br>
                    <div class="form-floating">
                        <input type="text" name="host_key" id="name" class="form-control" placeholder="Host Key" required>

                        <label for="name">Host Key</label>
                    </div>
                    <br>
                    <div class="form-floating">
                        <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>

                        <label for="name">Password</label>
                        <div id="password-validation-message" style="color: red;"></div>

                        <script>
                            function validatePassword() {
                                var passwordInput = document.getElementById('password');
                                var passwordValidationMessage = document.getElementById('password-validation-message');
                        
                                var passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,}$/;
                        
                                if (!passwordRegex.test(passwordInput.value)) {
                                    passwordValidationMessage.textContent = "Password must be at least 8 characters long and include at least one uppercase letter, one lowercase letter, and one digit.";
                                    passwordInput.setCustomValidity("Invalid password");
                                } else {
                                    passwordValidationMessage.textContent = "";
                                    passwordInput.setCustomValidity("");
                                }
                            }
                        
                            document.getElementById('password').addEventListener('input', validatePassword);
                        </script>
                    </div>
                    <br>
<div class="form-floating mb-4">
    <textarea id="message" name="message" class="form-control" placeholder="Leave a comment here" required style="height: 160px"></textarea>

    <label for="message">Message</label>
</div>
                    <div class="col-lg-5 col-6">
                        <button type="submit" class="form-control">Submit</button>
                    </div>
                </form>
            </div>
        </center>
            

        </div>
    </div>
</section>
</main>

{% include 'footer.html' %}
